<div class="header" role="banner"
  aria-label="Welcome to header">
  <div class="base-currency" tabindex="0">
    <img src="assets/uk-flag.png" alt="UA Flag" />
  </div>
  <div class="current-currency" tabindex="0">
    <div class="flag-container">
      <img src="assets/us-flag.png" alt="US Flag" />
      <p>{{ CurrencySymbol.USD }}</p>
    </div>
    <p class="currency-value"
      aria-label="Dollars exchange rate">{{ usdToUah |
      number:'1.3-3'}}
    </p>
  </div>
  <div class="current-currency" tabindex="0">
    <div class="flag-container">
      <img src="assets/eu-flag.png" alt="EU Flag" />
      <p>{{ CurrencySymbol.EUR }}</p>
    </div>
    <p class="currency-value"
      aria-label="Euro exchange rate">{{ eurToUah |
      number:'1.3-3'
      }}</p>
  </div>
</div>