<div class="currency-converter">
  <h1 tabindex="0">Currency Converter</h1>
  <form [formGroup]="conversionForm">
    <div class="form-column">
      <label for="fromCurrency">From Currency</label>
      <div role="combobox" class="select-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>From</mat-label>
          <mat-select id="fromCurrency"
            formControlName="currencyFrom"
            (selectionChange)="convertCurrency()">
            <mat-option
              *ngFor="let currency of availableCurrencies"
              [value]="currency">{{ currency
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <input type="number" formControlName="fromAmount"
        placeholder="0" max="10"
        aria-describedby="fromCurrencyAmountDesc" />
      <div
        *ngIf="fromAmount.invalid && (fromAmount.dirty || fromAmount.touched)"
        class="error-message">
        {{ getErrorMessage('fromAmount') }}
      </div>
    </div>

    <div class="switcher">
      <button type="button" (click)="switchCurrencies()"
        aria-label="Switch currencies"> <img
          src="assets/exchange.png" /></button>
    </div>

    <div class="form-column">
      <label for="toCurrency">To Currency</label>
      <div role="combobox" class="select-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>To</mat-label>
          <mat-select id="toCurrency"
            formControlName="currencyTo"
            (selectionChange)="convertCurrency()">
            <mat-option
              *ngFor="let currency of availableCurrencies"
              [value]="currency">{{ currency
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <input type="number" formControlName="toAmount"
        placeholder="0"
        aria-describedby="toCurrencyAmountDesc" />
      <div
        *ngIf="toAmount.invalid && (toAmount.dirty || toAmount.touched)"
        class="error-message">
        {{ getErrorMessage('toAmount') }}
      </div>
    </div>
  </form>
</div>